body {
    background-color:#1e1e1e;
    color:#fff;
}


.navbar
{
    margin-bottom:2px;
}

.sub
{
    border:none;
}

.map-container
{
    max-width: 670px;
    max-height:250px;
    height:250px;
}

.area-map
{
  
    max-height: 670px;
    height: 500px;
    width:100%;
}

#map
{
    color: #000;
}

.media-list
{
    border-top: 1px solid #000;
}

.media
{
    border-bottom: 1px solid #000;
    margin:0px;
    padding:0px;
    float:left;
}

.area .media
{
    float:none;
}

.media-heading
{
     margin: 10px 0px 0px 0px;
}

.anim-fade.ng-enter
{
    animation: fadeIn .5s;
}

.anim-fade.ng-leave
{
    animation: fadeOut .5s;
}

.anim-slide.ng-enter
{
    animation: slideInLeft .5s;
}

.anim-slide.ng-leave
{
     animation: fadeOutDown .2s;
}

.anim-flip
{
    animation: flipInY 1.5s;
}

.loader
{
    padding-bottom:10px;
}

