
<div class="hidden-phone col-md-2 col-lg-3">

</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">

      <div class="loader text-center">
            <div data-ng-show="geocoding">
            <p>Loading...</p>
                <img src="/img/484.png" alt="Loading" />
            </div>
      </div>

    <h3 class="text-center">Teatterihaku:</h3>
     <div>
         <span">Sijaintisi:</span>
         <div class="alert alert-success"" data-ng-show="userLocation!=''">
         <span>{{userLocation}}</span>
      
         </div>
         <div>
             <span">Lähin teatterisi:</span>
             <div class="alert alert-success" data-ng-show="gmapsTheatreName!=''">
                <div>
                    <span class="span-3">{{gmapsTheatreName}},</span>&nbsp;&nbsp;<span class="span-3">{{selectedTheatreAddress}}</span>
                </div>
                <div class="area-btns text-center">
                    <a class="btn btn-primary" href="#/leffat/alue/{{selectedTheatre.ID}}">Näytä elokuvat</a>
                    <a class="btn btn-info" href="#/valitsealue">Valitse toinen teatteri</a>
                </div>
             </div>    
             <span class="pull-right"></span>
        </div>
        
     </div>
     <div id="map" class="area-map"></div>
</div>
<div class="hidden-phone col-md-2 col-lg-3">

</div>