
<h2 class="text-center">
    Tietoja sovelluksesta
</h2>


<div class="hidden-phone col-md-2 col-lg-3">

</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
    <p>
    Tämän sovelluksen tarkoituksena on tutkia miten javascript frameworkkeja voi hyödyntää modernin responsiivisen web -sovelluksen kehityksessä. 
    Samalla on pyritty kehittämään erilainen lähestymistapa tällä hetkellä elokuvissa esitettävien elokuvien ja näytösaikojen löytämiseen.
    </p>
    <p>
    Sovellus hyödyntää Finnkino Oy:n ylläpitämää avointa xml -rajapintaa 
    (<a href="http://www.finnkino.fi/xml" title="Finnkino xml rajapinta" target="_blank">http://www.finnkino.fi/xml</a>) joka tarjoaa tietoja Finnkinon elokuvateattereissa 
    esitettävistä elokuvista ja aikatauluista. 
    </p>
    <p>
    Lisäksi sovellus hyödyntää Google Maps -rajapintaa, minkä avulla voidaan etsiä käyttäjää lähimpänä oleva elokuvateatteri.
    </p>
    <p>
    <span class="text-warning">
        Sovelluksen kehittäjänä en vastaa rajapinnan kautta haettujen tietojen oikeellisuudesta tai mahdollisten elokuvavarausten epäonnistumisesta!
    </span>
   </p>
    <p class="text-center">
        Lisätietoja voit pyytää emaililla osoitteesta:<br />jukka.hyvarin(at )gmail.com
    </p>
</div>

<div class="hidden-phone col-md-2 col-lg-3">

</div>
