

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <div class="text-center">
          
            <ul class="nav nav-pills">
                <li data-ng-repeat="g in genres" data-ng-class="{ 'active' : g==selectedGenre }">
                   <a data-ng-click="selectGenre(g)">{{g.name}}</a>
                </li>
            </ul>
           
      </div>
      
        <!--    <h4>Haku</h4>
            <div class="col-xs-11 col-sm-8 col-md-12 col-lg-12">
                <div class="container">
                <input type="text" class="form-control" placeholder="Hakusana esim: Terminator tai Komedia" data-ng-model="searchText" />
                </div>
            </div>-->
        </div>
     
     



   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>Elokuvat</h4>
    <ul class="media-list">
        <li class="media col-xs-12 col-sm-12 col-md-6 col-lg-4 anim-slide" data-ng-repeat="m in movies | filter:genreFilter"><!-- | filter:searchText-->
            <a class="pull-left" href="#">
                <img class="media-object" data-ng-src="{{m.Images.EventSmallImageLandscape}}" />
            </a>
            <div class="media-body">
                <h4 class="media-heading"><a href="#/leffa/{{area}}/{{m.EventID}}/{{date}}">{{m.Title}}</a></h4>
                <span>Alkaa: {{m.dttmShowStartUTC | date:'HH:mm'}}</span>
                <span>Kesto: {{m.LengthInMinutes}} min</span><br />
                <span>Teatteri: {{m.TheatreAndAuditorium}}</span>
            </div>
        </li>
    </ul>
    </div>

  
  

